.contact-container {
  padding: 40px;
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.contact-container h1 {
    font-size: 25px;
  margin-bottom: 30px;
  color: #0037ff;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact-form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.contact-form button {
  margin-top: 15px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.contact-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0,0,0.2);
}