.home-container {
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}
.home-container h1{
    color: rgb(4, 71, 253);
    font-size: 25px;
}

.food-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.food-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  padding: 10px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease;
}
.food-card:hover{
    transform: scale(1.03);
}

.food-card img {
  width: 100%;
  border-radius: 6px;
}
.food-image{
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.food-card h2 {
  margin-top:10px;
  color: #333;
}
.food-card p {
  margin: 4px 0;
  color: #555;
}