.services-container {
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.services-container h1 {
  margin-bottom: 40px;
  font-size: 25px;
  color: rgb(0, 42, 255);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.service-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 280px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: left;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: scale(1.03);
}

.service-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.service-card h3 {
  color: #222;
  margin-bottom: 10px;
}

.service-card p {
  color: #555;
  font-size: 14px;
}